.form-section {
  display: flex;
  min-height: 100vh;
  background-color: #1b1f26;
  justify-content: center;
  background-image: url("images/register.jpg");
  background-size: cover;
  background-blend-mode: multiply;

}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(34, 250, 235, 0.7);
  padding: 20px;
  width: 500px;
  height: fit-content;
  border-radius: 20px;
  margin-top: 2rem;
  box-shadow: rgb(31, 183, 175, 0.5) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
}

.form-input {

  width: 100%;
  text-decoration: none;
  background-color: white;
  color: #494545;
  font-size: larger;
  display: inline-block;
  padding: 5px 20px;
  position: relative;
  border: 3px solid #1e232c;
  border-radius: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  font-size: larger;
  position: relative;
  padding-bottom: 20px;
}

.form-label {
  display: flex;
  flex-direction: column;
}

.submit-button {
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
  background-color: #1e232c;
  color: white;
  display: inline-block;
  padding: 5px 20px;
  position: relative;
  border: 3px solid white;
  border-radius: 20px;
  cursor: pointer;
  &:active {
    background-color: greenyellow;
  }
  &:disabled {
    background-color: #494545;
    cursor: default;
  }
}

.subscribe-form {
  font-size: larger;
}

.error-message {
  position: absolute;
  color: red;
  bottom: 0;
  left: 10px;
}
